@import "~materialize-css/dist/css/materialize.min.css";

.container {
    margin: 0 auto;
    max-width: 1580px;
    width: 90%;
}

.pad {
    padding-left: 10px !important;
}

.brand-logo{
    cursor: default;
}

.unitsListScroll {
    overflow-y: scroll;
    height: 380px;
}

.pdTop{
    padding-top: 5% !important;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}

